[access]
	inheritFrom = All-Projects
[submit]
	action = inherit
[access "refs/*"]
	owner = group saml/oran-gerrit-oam-committers
	read = group GitHub Replication
[receive]
[project]
	description = Repository for Operation and Maintenance (O1 interface, OpenFronthaul Management plane) related code artifacts, which are not already part of ONAP.
[plugin "its-jira"]
	enabled = true
